<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>
    <p>Hello {{.}}</p>
    <br>
    <form action="http://172.21.43.149:9001/user/login" method="post">
        姓名: <input type="text" name="username" />
        <br>
        年龄: <input type="text" name="age" />
        <br>
        <input type="submit" />
    </form>
</body>

</html>